<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
</head>
<body>
    <form method="POST" action="/contact"></form>
    topic<br><input type="text" name="" id=""><br>
    content<br><textarea name="" id="" cols="30" rows="10"></textarea><br>
    name<br><input type="text" name="" id=""><br>
    email<br><input type="email" name="" id=""><br><br>
    <input type="submit" value="submit">
</body>
</html>